:root {
  --cc-bg: #1c2024;
  --noti-border-color: rgba(66, 71, 78, 1);
  --noti-bg: 28,32,36;
  --noti-bg-alpha: 0.95;
  --noti-bg-darker: #181c20;
  --noti-bg-hover: #272a2e;
  --noti-bg-focus: rgba(49, 53, 57, 1);
  --noti-close-bg: #272a2e;
  --noti-close-bg-hover: #313539;
  --text-color: #e0e2e8;
  --text-color-disabled: #c2c7ce;
  --bg-selected: #99ccf9;
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --mpris-album-art-overlay: rgba(0, 0, 0, 1);
  --mpris-button-hover: rgba(153, 204, 249, 1);
  --mpris-album-art-icon-size: 96px;
  --widget-volume-row-icon-size: 24px;
}
